body {
    font-family: sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

#boardContainer {
    position: relative;
}

#canvasBoard,
#canvasPieces {
    border: solid 1px #FFF;
    border-radius: 20px;
}

#canvasPieces {
    position: absolute;
    left: 0;
    top: 0;
}